<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Set the value below to true only when the metadata endpoint is needed -->
          <serviceMetadata httpGetEnabled="false"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Powel.Icc.Messaging.DataExchangeManager.DataExchangeTestServer.DataExchangeTestServer">
        <host>
          <baseAddresses>
            <!--<add baseAddress="http://localhost:8735/Powel/DataExchangeTestServer/"/>-->
            <add baseAddress="net.tcp://localhost:8141/Powel/DataExchangeTestServer"/>
            <add baseAddress="net.pipe://localhost/Powel/DataExchangeTestServer"/>
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <!--<endpoint address="" binding="wsHttpBinding" contract="Powel.Icc.Messaging.DataExchangeManager.DataExchangeTestServer.IDataExchangeTestServer"/>-->
        <endpoint address="" binding="netNamedPipeBinding" bindingConfiguration="MsgExchNamedPipeBindingConfig" name="MsgExchNamedPipe" contract="Powel.Icc.Messaging.DataExchangeManager.DataExchangeTestServer.IDataExchangeTestServer"/>
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="MsgExchTcpBindingConfig" name="MsgExchNetTcp" contract="Powel.Icc.Messaging.DataExchangeManager.DataExchangeTestServer.IDataExchangeTestServer"/>
        
        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
        <!-- This endpoint does not use a secure binding and should be turned on only when sure and it is needed -->
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>-->
      </service>
    </services>
    <bindings>
      <netNamedPipeBinding>
        <binding name="MsgExchNamedPipeBindingConfig" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="0" maxBufferSize="1000000" maxConnections="30" maxReceivedMessageSize="1000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign"/>
          </security>
        </binding>
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="MsgExchTcpBindingConfig" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="0" maxBufferSize="1000000" maxConnections="30" maxReceivedMessageSize="1000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000" maxArrayLength="200000" maxBytesPerRead="200000" maxNameTableCharCount="200000"/>
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
