<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CsTestOtlNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <CsTestOtlNet.Properties.Settings>
      <setting name="dbserver" serializeAs="String">
        <value>source</value>
      </setting>
      <setting name="dbuser" serializeAs="String">
        <value>config</value>
      </setting>
      <setting name="dbpasswd" serializeAs="String">
        <value>config</value>
      </setting>
    </CsTestOtlNet.Properties.Settings>
  </applicationSettings>
</configuration>