<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- LogLevels: 1=DEBUG, 5=NONE -->
    <!--<add key="LogLevel" value="1"/> -->
    <add key="LocalApTitle" value="1.1.1.999.1"/>
    <add key="LocalAeQualifier" value="13"/>
    <add key="LocalPSelector" value="0 0 0 1"/>
    <add key="LocalSSelector" value="0 1"/>
    <add key="LocalTSelector" value="0 1"/>
    <!--<add key="hostname" value="localhost"/>
    <add key="ApTitle" value="1.1.999.1"/>
    <add key="AeQualifier" value="12"/>
    <add key="PSelector" value="0 0 0 1"/>
    <add key="SSelector" value="0 1"/>
    <add key="TSelector" value="0 1"/>-->
    <add key="UseTls" value="true"/>
    <!--<add key="ChainValidation" value="true"/>
    <add key="AllowOnlyKnownCertificates" value="false"/>
    <add key="CertificatesDirectory" value="certificates"/>-->
    <add key="OwnKeyFile" value="client1-key.pem"/>
    <add key="OwnCertificateFile" value="client1.cer"/>
    <add key="CACertificateFiles" value="root.cer"/>
    <!--<add key="OwnKeyPassword" value=""/>-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>