<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!--<add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://vm-compello.powelasa.powel.com/EdiServerNS;StsEndpoint=https://vm-compello.powelasa.powel.com:9355/EdiServerNS;RuntimePort=9354;ManagementPort=9355;SharedAccessKeyName=fullaccess;SharedAccessKey=eJEQfp4CNSrA2gC0OOGjW8ty1TBWhBEtfiIF94g8kcc=" xdt:Transform="Replace" xdt:Locator="Match(key)"/>-->
    <!--<add key="EcpAmqpDataExchangeManager.Enabled" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>-->
    <!--<add key="EcpAmqpDataExchangeManager.ExportParametersFilePath" value="%HOME%\Powel\Icc\bin\ServiceHost\EcpAmqp\PowelStatnettTest" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EcpAmqpDataExchangeManager.ImportParametersFilePath" value="%HOME%\Powel\Icc\bin\ServiceHost\EcpAmqp\PowelStatnettTest" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EcpAmqpDataExchangeManager.StatusParametersFilePath" value="%HOME%\Powel\Icc\bin\ServiceHost\EcpAmqp\PowelStatnettTest" xdt:Transform="Replace" xdt:Locator="Match(key)"/>-->
    <add key="EcpAmqpDataExchangeManager.ExportParametersFilePath" value="%HOME%\Powel\Icc\bin\ServiceHost\EcpAmqp\Swissgrid" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EcpAmqpDataExchangeManager.ImportParametersFilePath" value="%HOME%\Powel\Icc\bin\ServiceHost\EcpAmqp\Swissgrid" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EcpAmqpDataExchangeManager.StatusParametersFilePath" value="%HOME%\Powel\Icc\bin\ServiceHost\EcpAmqp\Swissgrid" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--<add key="EcpAmqpDataExchangeManager.ExportParametersFile" value="EdxAmqpExportParametersFile.json" xdt:Transform="Insert"/>
    <add key="EcpAmqpDataExchangeManager.ImportParametersFile" value="EdxAmqpImportParametersFile.json" xdt:Transform="Insert"/>
    <add key="EcpAmqpDataExchangeManager.StatusParametersFile" value="EdxAmqpStatusParametersFile.json" xdt:Transform="Insert"/>
    <add key="EcpAmqpDataExchangeManager.ExportParametersFilter" value="EdxAmqpExportParametersFile.json" xdt:Transform="Insert"/>
    <add key="EcpAmqpDataExchangeManager.ImportParametersFilter" value="EdxAmqpImportParametersFile.json" xdt:Transform="Insert"/>
    <add key="EcpAmqpDataExchangeManager.StatusParametersFilter" value="EdxAmqpStatusParametersFile.json" xdt:Transform="Insert"/>-->
    <add key="EcpAmqpDataExchangeManager.ExportParametersFile" value="EcpAmqpExportParametersFile.json" xdt:Transform="Insert"/>
    <add key="EcpAmqpDataExchangeManager.ImportParametersFile" value="EcpAmqpImportParametersFile.json" xdt:Transform="Insert"/>
    <add key="EcpAmqpDataExchangeManager.StatusParametersFile" value="EcpAmqpStatusParametersFile.json" xdt:Transform="Insert"/>
    <add key="EcpAmqpDataExchangeManager.ExportParametersFilter" value="EcpAmqpExportParametersFile.json" xdt:Transform="Insert"/>
    <add key="EcpAmqpDataExchangeManager.ImportParametersFilter" value="EcpAmqpImportParametersFile.json" xdt:Transform="Insert"/>
    <add key="EcpAmqpDataExchangeManager.StatusParametersFilter" value="EcpAmqpStatusParametersFile.json" xdt:Transform="Insert"/>
    <add key="Ancitra.EndpointName" value="TestEndpoint" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="IccpDataExchangeManager.Enabled" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--<add key="IccpDataExchangeManager.ImportParametersFilePath" value="%HOME%\Powel\Icc\bin\ServiceHost\Iccp\Demoserver" xdt:Transform="Replace" xdt:Locator="Match(key)"/>-->
    <add key="IccpDataExchangeManager.ImportParametersFilePath" value="%HOME%\Powel\Icc\bin\ServiceHost\Iccp\Volumetest" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--<add key="IccpDataExchangeManager.ImportParametersFile" value="IccpImportParametersFile.json" xdt:Transform="Insert"/>
    <add key="IccpDataExchangeManager.ImportParametersFilter" value="IccpImportParametersFile.json" xdt:Transform="Insert"/>-->
    <add key="IccpDataExchangeManager.ImportParametersFile" value="HecoGol.json" xdt:Transform="Insert"/>
    <add key="IccpDataExchangeManager.ImportParametersFilter" value="HecoGol.json" xdt:Transform="Insert"/>
    <add key="IccpDataExchangeManager.UseDualRole" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="NpAuctionDataExchangeManager.Enabled" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="NpAuctionDataExchangeManager.ExportParametersFilePath" value="%HOME%\Powel\Icc\bin\ServiceHost\NpAuction" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="NpAuctionDataExchangeManager.ExportParametersFile" value="ExportParametersFile.json" xdt:Transform="Insert"/>
    <add key="NpAuctionDataExchangeManager.ExportParametersFilter" value="ExportParametersFile.json" xdt:Transform="Insert"/>
    <!--<add key="MassTransitFileWatcherDataExchangeManager.Enabled" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MassTransitFileWatcherDataExchangeManager.ExportParametersFilePath" value="%HOME%\Powel\Icc\bin\ServiceHost\MassTransitFileWatcher" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MassTransitFileWatcherDataExchangeManager.ExportParametersFile" value="ExportParametersFile.json" xdt:Transform="Insert"/>
    <add key="MassTransitFileWatcherDataExchangeManager.ExportParametersFilter" value="ExportParametersFile.json" xdt:Transform="Insert"/>
    <add key="MassTransitFileWatcherDataExchangeManager.ImportParametersFilePath" value="%HOME%\Powel\Icc\bin\ServiceHost\MassTransitFileWatcher" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MassTransitFileWatcherDataExchangeManager.ImportParametersFile" value="ImportParametersFile.json" xdt:Transform="Insert"/>
    <add key="MassTransitFileWatcherDataExchangeManager.ImportParametersFilter" value="ImportParametersFile.json" xdt:Transform="Insert"/>-->
  </appSettings>
  <log4net>
    <root>
      <level xdt:Transform="Replace" value="ALL"/>
    </root>
  </log4net>
</configuration>