<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="serviceIterationClasses" type="ServiceHost.ListSectionHandler, ServiceHost"/>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IResponseService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:01:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="BasicHttpBinding_StandardWsService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:20:00" sendTimeout="00:20:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="ECPEndpointSOAP11" messageEncoding="Mtom"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="MadesEndpointSOAP12">
          <mtomMessageEncoding messageVersion="Soap12"/>
          <httpTransport maxReceivedMessageSize="2147483647" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/Powel.Icc.Services.ResponseService/ResponseService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IResponseService" contract="IResponseService" name="BasicHttpBinding_IResponseService"/>
      <endpoint address="http://localhost:9090/ws/madesInWSInterface" binding="customBinding" bindingConfiguration="MadesEndpointSOAP12" contract="MadesService.MadesEndpoint" name="MadesEndpointSOAP12"/>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="StandardWsServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Powel.Icc.Messaging.DataExchangeManager.DataExchangeManagerService.Modules.StandardWS.StandardWsWcfService"
               behaviorConfiguration="StandardWsServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9418/StandardWS"/>
          </baseAddresses>
        </host>
        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="BasicHttpBinding_StandardWsService"
                  contract="Powel.Icc.Messaging.DataExchangeManager.DataExchangeModuleStandardWsInterface.IStandardWs" />

        <endpoint address="mex"
          binding="mexHttpBinding"
          contract="IMetadataExchange"/>

      </service>
    </services>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="log\Powel.Icc.ServiceHost.log"/>
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <threshold value="DEBUG" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t]%-5p %c.%M() - %m%n" />
      </layout>
    </appender>
    <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
      <remoteAddress value="127.0.0.1"/>
      <remotePort value="8080"/>
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
        <locationInfo value="true"/>
      </layout>
    </appender>
    <root>
      <level value="ERROR"/>
      <appender-ref ref="RollingFileAppender"/>
      <appender-ref ref="UdpAppender"/>
    </root>
  </log4net>
  <serviceIterationClasses>
    <!-- Activate by uncommenting the modules needed by the customer. -->
    <!--add value="Powel.Icc.Messaging.TimeSeriesExportService, Powel.Icc.Messaging" />-->
    <!--<add value="Powel.Icc.Messaging.GS2ExportService, Powel.Icc.Messaging" />-->
    <!--<add value="Powel.Icc.Messaging.TimeSeriesImport, Powel.Icc.Messaging" />-->
    <!--add value="Powel.Icc.Messaging.TimeSeriesImportResponseService, Powel.Icc.Messaging" /> -->
    <!-- MSMQ-related modules. If one of these are activated, ImportApplicationManagerService is also needed. -->
    <!--<add value="Powel.Icc.Messaging.DataExchangeManager.ImportApplicationManagerService.ImportApplicationManagerService, ImportApplicationManagerService"/>-->
    <!--<add value="Powel.Icc.Messaging.DataExchangeManager.DataExchangeManagerService.DataExchangeManagerService, DataExchangeManagerService"/>-->
    <!--<add value="Powel.Icc.Messaging.AzureBusDataExchangeManager.AzureBusDataExchangeManagerService.AzureBusDataExchangeManagerService, AzureBusDataExchangeManagerService"/>-->
    <!--<add value="Powel.Icc.Messaging.EcpAmqpDataExchangeManager.EcpAmqpDataExchangeManagerService.EcpAmqpDataExchangeManagerService, EcpAmqpDataExchangeManagerService"/>-->
    <!--<add value="Powel.Icc.Messaging.IccpDataExchangeManager.IccpDataExchangeManagerService.IccpDataExchangeManagerService, IccpDataExchangeManagerService" />-->
    <!--<add value="Powel.Icc.Messaging.NpAuctionDataExchangeManager.NpAuctionDataExchangeManagerService.NpAuctionDataExchangeManagerService, NpAuctionDataExchangeManagerService" />-->
    <!-- Uses RabbitMq (No MSMQ): -->
    <!--<add value="Powel.Icc.Messaging.MassTransitFileWatcherDataExchangeManager.MassTransitFileWatcherDataExchangeManagerService, MassTransitFileWatcherDataExchangeManagerService" />-->
    <!-- MDMS: -->
    <!--<add value="Powel.Icc.Messaging.MeteringServiceQueueHandlerService, Powel.Icc.Messaging" />-->
    <!--<add value="Powel.Icc.Messaging.MeteringServiceResponseService, Powel.Icc.Messaging" />-->
    <!--<add value="Powel.Icc.Messaging.MeteringOrderService, Powel.Icc.Messaging" />-->
    <!--<add value="Powel.Icc.Messaging.OnDemandMeteringOrderService, Powel.Icc.Messaging" />-->
  </serviceIterationClasses>
  <appSettings>
    <add key="LogPath" value="C:\Powel\Icc\bin\log\ServiceHost.txt"/>
    <add key="LogNoMessageFound" value="false"/>
    <add key="SchemaPath" value="C:\Powel\Icc\XML-Schema"/>
    <add key="MeterReadingExportScheduleDateFixed" value="true"/>
    <!-- Common to DataExchangeManagerService modules -->
    <add key="TimeoutInSecondsBeforeTerminatingModules" value="70" /><!-- This must be larger than EDI.Timeout. If a restart script is used, the wait there should be larger than this parameter. -->
    <!-- Compello module parameters -->
    <add key="EDI.Timeout" value="60"/>
    <!--<add key="EDI.Logging" value="True"/>
    <add key="EDI.LoggingPath" value="C:\Compello"/>-->
    <!-- Azure module parameters -->
    <add key="AzureExportParametersFilePath" value="%ICC_HOME%\Config\ServiceHost\AzureConfigs"/>
    <add key="AzureExportParametersFileFilter" value="AzureExport*File.*"/> <!-- Filter should match both Parameters and PropertyRule files -->
    <add key="AzureExportParametersFile" value="AzureExportParametersFile.json"/>
    <add key="AzureExportPropertyRuleFile" value="AzureExportPropertyRuleFile.xml"/>
    <add key="AzureImportParametersFilePath" value="%ICC_HOME%\Config\ServiceHost\AzureConfigs"/>
    <add key="AzureImportParametersFileFilter" value="AzureImportParametersFile.json"/>
    <add key="MaxConcurrentImports" value="1"/>
    <add key="AutoRenewTimeout" value="30000"/>
    <!-- AzureDataExchangeManager parameters -->
    <add key="AzureDataExchangeManager.Enabled" value="False"/>
    <add key="AzureDataExchangeManager.ImportParametersFilePath" value="%ICC_HOME%\Config\ServiceHost\Azure"/>
    <add key="AzureDataExchangeManager.ImportParametersFileFilter" value="AzureImportParametersFile.json"/>
    <add key="AzureDataExchangeManager.UsePumpingReceiver" value="false" />
    <add key="AzureDataExchangeManager.MaxConcurrentImports" value="1"/>
    <!-- EcpAmqpDataExchangeManager parameters -->
    <add key="EcpAmqpDataExchangeManager.Enabled" value="false" />
    <add key="EcpAmqpDataExchangeManager.ExportParametersFileFilter" value="EcpAmqpExportParametersFile.json" />
    <add key="EcpAmqpDataExchangeManager.ExportParametersFilePath" value="%ICC_HOME%\Config\ServiceHost\EcpAmqp" />
    <add key="EcpAmqpDataExchangeManager.ExportParametersFile" value="EcpAmqpExportParametersFile.json" />
    <add key="EcpAmqpDataExchangeManager.ImportParametersFileFilter" value="EcpAmqpImportParametersFile.json" />
    <add key="EcpAmqpDataExchangeManager.ImportParametersFilePath" value="%ICC_HOME%\Config\ServiceHost\EcpAmqp" />
    <add key="EcpAmqpDataExchangeManager.ImportParametersFile" value="EcpAmqpImportParametersFile.json" />
    <add key="EcpAmqpDataExchangeManager.StatusParametersFileFilter" value="EcpAmqpStatusParametersFile.json" />
    <add key="EcpAmqpDataExchangeManager.StatusParametersFilePath" value="%ICC_HOME%\Config\ServiceHost\EcpAmqp" />
    <add key="EcpAmqpDataExchangeManager.StatusParametersFile" value="EcpAmqpStatusParametersFile.json" />
    <add key="EcpAmqpDataExchangeManager.MaxConcurrentImports" value="2" />
    <add key="EcpAmqpDataExchangeManager.UsePumpingReceiver" value="false" />
    <add key="EcpAmqpDataExchangeManager.ExportPollingInterval" value="1000" />
    <add key="EcpAmqpDataExchangeManager.MsmqDequeueTimeout" value="1000" />
    <!-- IccpDataExchangeManager parameters: -->
    <add key="IccpDataExchangeManager.Enabled" value="false" />
    <add key="IccpDataExchangeManager.UseDualRole" value="false" />
    <add key="IccpDataExchangeManager.ImportParametersFilePath" value="%ICC_HOME%\Config\ServiceHost\Iccp" />
    <add key="IccpDataExchangeManager.ImportParametersFileFilter" value="IccpImportParametersFile.json" />
    <add key="IccpDataExchangeManager.ImportParametersFile" value="IccpImportParametersFile.json" />
    <!-- NpAuctionDataExchangeManagerService -->
    <add key="NpAuctionDataExchangeManager.Enabled" value="false" />
    <add key="NpAuctionDataExchangeManager.ExportParametersFilePath" value="%ICC_HOME%\Config\ServiceHost\NpAuction" />
    <add key="NpAuctionDataExchangeManager.AuctionUrl" value="https://auctions-api.test.nordpoolgroup.com/api/v1" />
    <add key="NpAuctionDataExchangeManager.SsoUrl" value="https://sts.test.nordpoolgroup.com" />
    <!--<add key="NpAuctionDataExchangeManager.SsoUrl" value="https://sts.nordpoolgroup.com" />
   <add key="NpAuctionDataExchangeManager.AuctionUrl" value="https://auctions-api.nordpoolgroup.com/api/v1" />-->
    <!-- MassTransitFileWatcherDataExchangeManager -->
    <add key="MassTransitFileWatcherDataExchangeManager.Enabled" value="false" />
    <add key="MassTransitFileWatcherDataExchangeManager.RabbitMqHost" value="amqp://guest:guest@localhost" />
    <add key="MassTransitFileWatcherDataExchangeManager.ExportParametersFilePath" value="%ICC_HOME%\Config\ServiceHost\MassTransitFileWatcher" />
    <add key="MassTransitFileWatcherDataExchangeManager.ExportParametersFileFilter" value="MassTransitFileWatcherExportParametersFile.json" />
    <add key="MassTransitFileWatcherDataExchangeManager.ExportParametersFile" value="MassTransitFileWatcherExportParametersFile.json" />
    <add key="MassTransitFileWatcherDataExchangeManager.ImportParametersFilePath" value="%ICC_HOME%\Config\ServiceHost\MassTransitFileWatcher" />
    <add key="MassTransitFileWatcherDataExchangeManager.ImportParametersFileFilter" value="MassTransitFileWatcherImportParametersFile.json" />
    <add key="MassTransitFileWatcherDataExchangeManager.ImportParametersFile" value="MassTransitFileWatcherImportParametersFile.json" />
    <!-- ImportApplicationManagerLogic parameters: -->
    <add key="Gs2.ReadsFromStandardInput" value="true" />
    <add key="XmlElImp.ReadsFromStandardInput" value="true" />
    <add key="ImportApplicationManagerLogic.EndpointName" value="ImportApplicationManagerLogicEndpoint"/>
    <add key="Ancitra.EndpointName" value="AncitraSubscriber" />
    <add key="TimeSeriesContractReceiver.EndpointName" value="Timeseries2Tss"/>
    <!--<add key="ServiceHostExcludedDllAssembliesRegexList" value="EDI\.Server\.API\.Client.+\.dll" />
    <add key="ServiceHostExcludedExeAssembliesRegexList" value=""/>-->
	<add key="TimeSeriesResponseUrl" value=""/>
	<add key="SystemID" value=""/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="2.0.19.1 - 4.65535.65535.65535" newVersion="4.122.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>
